<html>
<head>




<h1> Здесь будут картиночки!!</h1>

<p> Вот же они! Herocu Rules!</p>




<body>


<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="http://files.ancientalienhistory.webnode.com/200000043-80868817cf/starcraft-ii-interview-with-robert-clotworthy.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Moedheim</h4>
    <p class="card-text">Mordheim is a wounderfull miniature tactic game. Join now!</p>
    <a href="https://yandex.ru/search/?msid=1503405180.21317.98278.11111&text=buy%20mordheim&lr=213" class="btn btn-primary">Join!</a>
  </div>
</div>






<img src="https://cdn.jpg.wtf/futurico/3c/6f/1503300732-3c6f55328c80a6906f70faedfb0cae7b.jpeg" width="512" height="768" class="js-image_in_comments" style="width: 500px; height: 750px;"><br/>

<img src="https://cdn.jpg.wtf/futurico/63/ee/1502480120-63ee33dc6bd51983000121aa8bb38f9a.jpeg" width="736" height="1002" class="js-image_in_comments" style="width: 500px; height: 681px;">

<img src="https://cdn.jpg.wtf/futurico/37/0f/1449167599-370ff5276cccf14387b825d5361709ff.jpeg" width="736" height="1002" class="js-image_in_comments" class="img-fluid" alt="Responsive image" style="width: 40%; height: 40%;"><br/>

<img src="https://cdn.jpg.wtf/futurico/b0/b4/1501886245-b0b4bd5e97b356d370ac4cbe46da72a5.jpeg" width="900" height="1200" class="js-image_in_comments" style="width: 500px; height: 667px;">

<a href="https://www.youtube.com/watch?v=gg7ZknrV7gM" class="b-popup_video_toggle js-popup_media_inited">Video</a>

</body>
</html>

