<h2>Расчет объема воздуха</h2>
<p>Выберете сечение воздуховода</p>


<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="aircount/round/">Круглое</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/aircount/square">Прямоугольное</a>
  </li>
  </ul>